* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #FFFFFF;
    color: #252B42;
}

/* SECTION */
.why-us {
    text-align: center;
    padding: 80px 20px;
}

.why-us h2 { font-size: 40px; 
	font-weight: 700; 
	margin-bottom: 15px; 
	font: Montserrat; 
	line-height: 57px; 
	letter-spacing: 0.2px; 
	color: #252B42; 
	
}

.subtitle {
	font: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #737373;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 60px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARD */
.card {
    width: 328px;
	height: 385px;
    border-radius: 10px;
    border: 1px solid #D9EDFF;
    background: #D9EDFF;
}

/* HEADER */
.card-header1 {
	width: 340px;
	height: 132px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-header2 {
	width: 361px;
	height: 132px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-header3 {
	width: 330px;
	height: 132px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.card_head1 {
	width: 153px;
	height: 24px;
}

.card_head2 {
	width: 174px;
	height: 24px;
}

.card_head3 {
	width: 143px;
	height: 24px;
}

.card-header1 h5 {
	font: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.card-header2 h5 {
	font: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.card-header3 h5 {
	font: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

/* ICON */
.icon {
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 32px;
    height: 26.35px;
    object-fit: contain;
	top: 23px;
	left: 20px;
}

/* BODY */
.card-body {
	width: 328px;
	height: 253px;
	border-radius: 11px;
	border: 1px solid #A9D6FF;
    padding: 30px 50px;
    text-align: left;
	gap: 5px;
	background-color: #FFFFFF;
}

.card-body h6 {
	margin-bottom: 6.5px;
    font-size: 14px;
    font-weight: 600;
    color: #737373;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.card-body a { 
	text-decoration: none; 
	color: #F4A100; 
	font-weight: 600; 
	font-size: 14px; }
	
.with_figma {
	width: 191px;
	height: 48px;
}
